.boardView {
  width: 80vw;
  height: 100%;
  padding: 2vh;
  padding-top: 0;
  box-sizing: border-box;
}

.boardViewer {
  justify-content: space-around;
  overflow: overlay;
  flex-wrap: wrap;
  position: relative;
  width: 85vw;
  height: 100%;
  margin: 2vh;
  margin-top: 0;
  margin-bottom: 4vh;
  border: 3px solid var(--darkText);
  border-style: solid none none;
  border-radius: 0 0 20px 20px;
  background-color: var(--cream);
  box-shadow: 0 10px 15px #cc69503d;
}

.boardConfig {
  /* border: 1px solid var(--darkText);
  border-style: none none solid none;
  width: 100%;
  height: 100px; */
}