/* IMAGE */

.boardImageContainer {
  max-width: 100%;

  margin: 2vh;
  position: relative;
  user-select: none;
}

.boardImageContainer * {
  user-select: none;
}

.boardImage {
  width: 100%;

  margin: 0;
  padding: 0;
  object-fit: cover;
  border: 2px solid var(--darkText);
  box-sizing: border-box;
  box-shadow: 0 3px 6px var(--shadow);
}

.boardImageContainer:hover .boardImageButtons {
  display: flex;
}

.boardImageButtons {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 64px;
  width: 42px;
  margin: 1vh;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
  border-radius: 21px;
  background-color: var(--cream);

  border: 2px solid var(--darkText);
  box-sizing: border-box;
  box-shadow: 0 2px 3px var(--shadow);
}

.boardImageButton:hover {
  cursor: pointer;
  color: var(--salmon);
}

.fav {
  color: var(--salmon);
}

.add:hover {
  cursor: pointer;
  color: var(--sky);
}