/* HEADER */

.header {
  flex: 0;
  width: 98vw;
  height: 60px;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid var(--darkText);
  border-style: none none solid none;
  background-color: var(--salmon);
}

.spacer {
  min-width: 200px;
}

.right {
  justify-content: flex-end;
}

.searchInput {
  outline: none;
  border: none;
  padding-left: 8px;
  height: 2.5vh;
  width: 200px;
  background-color: var(--cream);
  border-radius: 25px;
}

.login {
  background-color: var(--cream);
  font-size: 18px;
  padding: 4px;
  border-radius: 40px;
  width: 60px;
  justify-content: center;
  justify-self: flex-end;
  user-select: none;
}

.login:hover {
  background-color: var(--leaf);
  cursor: pointer;
}

.logoutDiv {
  position: absolute;
  top: 54px;
}

#logout {
  color: var(--salmon);
}