/* IMAGE */

.imageContainer {
  min-width: 10%;
  max-width: 30%;
  max-height: 35%;

  margin: 0;
  margin-bottom: 1.5vh;
  position: relative;
  user-select: none;
}

.imageContainer * {
  user-select: none;
}

.medImage {
  width: 90%;
  max-height: 90%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border: 2px solid var(--darkText);
  box-sizing: border-box;
  box-shadow: 0 3px 6px var(--shadow);
}

.medImage:not(:hover) {
  transition: width 0.25s;
}

.imageContainer:hover .medImage {
  cursor: zoom-in;
  width: 100%;
  max-height: 100%;
}

.imageContainer:hover .imageButtons {
  display: flex;
}

.imageContainer:hover .hoverHeart {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.imageContainer:not(:hover) .hoverHeart {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.imageButtons {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 64px;
  width: 42px;
  margin: 1vh;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
  border-radius: 21px;
  background-color: var(--cream);

  border: 2px solid var(--darkText);
  box-sizing: border-box;
  box-shadow: 0 2px 3px var(--shadow);
}

.boardSelect {
  position: absolute;
  z-index: 1;
  top: 74px;
  right: 0;
  min-width: 10vw;
  height: 32px;
  border: 2px solid var(--darkText);
  border-radius: 20px;
  background-color: var(--cream);
  box-shadow: 0 4px 6px var(--shadow);

  color: var(--sky);
}

#boardForm {
  height: 100%;
}

.boardInput {
  outline: none;
  border: 1px solid var(--salmon);
  margin: 0;
  margin-left: 3px;
  padding: 0;
  padding-left: 4px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 95%;
  height: 26px;
  max-width: 200px;
}

.imageButton:hover {
  cursor: pointer;
  color: var(--salmon);
}

.hoverHeart {
  position: absolute;
  bottom: -0.5vh;
  width: 42px;
  height: 42px;
  border: 2px solid var(--darkText);
  box-sizing: border-box;
  z-index: 0;
  background-color: var(--cream);
  color: var(--salmon);
  border-radius: 40px;
  box-shadow: 0 2px 3px var(--shadow);
}

.fav {
  color: var(--salmon);
}

.inBoard {
  color: var(--sky);
}

.add:hover, .checkMark:hover {
  cursor: pointer;
  color: var(--sky);
}

.checkMark {
  min-width: 32px;
  margin: 1px;
}