/* AUTH */

.auth {
  height: 100%;
  width: 100%;
}

.loginForm {
  height: 60%;
  width: 30%;
  min-width: 300px;

  border-radius: 60px;
  background-color: var(--cream);
  box-shadow: 0 10px 15px #dd59593d;
  justify-content: space-around;
}

.formHead {
  margin-top: 4vh;
  justify-content: flex-end;
}

.formBody {
  width: 100%;
  margin-bottom: 4vh;
}

.loginInputs, .loginButtons {
  width: 70%;
  padding: 1vh;
  padding-bottom: 0;
}

.loginInput {
  border: 1px solid var(--salmon);
  outline: none;
  padding: 1vh;
  padding-bottom: 0.8vh;
  width: 100%;
  margin: 1vh;
  border-radius: 25px;
  box-sizing: border-box;
}

.loginInput::placeholder {
  color: var(--salmon);
}

.loginButtons {
  border: 1px solid var(--salmon);
  border-style: solid none none;
  justify-content: center;
}

.loginButton {
  border: none;
  outline: none;
  padding: 1vh;
  width: 75%;
  /* margin: 1vh; */
  padding-bottom: 0.8vh;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: var(--salmon);
  color: var(--cream);
  font-size: 16px;
  font-weight: bold;
}

.signUpText {
  user-select: none;
  padding: 1vh;
  box-sizing: border-box;
  min-height: 48px;
  color: var(--salmon);
}

.loginButton:hover {
  cursor: pointer;
  color: var(--darkText);
  background-color: var(--leaf);
}

.signUpText:hover, .backButton:hover {
  cursor: pointer;
  color: var(--darkSalmon)
}